@import './reset.styl';
reset();

body
  color #323232
  line-height 1
  background-color #f2f2f2
  font-family Arial,Helvetica,STHeiti STXihei,Microsolft YaHei,Tohoma,sans-serif
  -webkit-font-smoothing antialiased 